* {
	margin: 0px;
	font-family: 'Karla';
	color: #19334d;
}

.navbar {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.04);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	background-color: white;
}

.navbar-item {
	display: flex;
	flex-direction: row;
}

.item {
	margin-left: 20px;
}

a {
	text-decoration: none;
	color: #19334d;
	font-size: 18px;
	font-weight: bold;
}

.link-hover:hover {
	border-bottom: 5px solid #ccb6b9;
	margin-bottom: -5px;
}

.disabled {
	color: grey;
}

.about {
	margin: 0 auto;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}

#about-image {
	width: 300px;
	height: 450px;
	margin-left: 50px;
	/*border: 5px solid #ccb6b9;*/
}

.about-links {
	font-size: 16px;
}

p {
	line-height: 1.5;
}

.underline {
	border-bottom: 5px solid #ccb6b9;
}

#project-container {
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	/*max-width: 80%;*/
}

#project-description {
	margin-top: 10px;
	margin-bottom: 40px;
/*	max-width: 75%;*/
	/*margin-left: 0px;
	margin-right: 0px;*/
}

#project-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}

.project {
	padding: 5px;
	display: flex;
	flex-direction: row;
}

.projects {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.image {
	width: 400px;
	height: 300px;
	margin: 10px;
}

.image:hover {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), inset 0px 10px 10px rgba(0, 0, 0, 0.04);
}

.gray {
	opacity: .6;
	filter: grayscale(80%);
}

.gray:hover {
	filter: grayscale(0%);
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  margin-bottom: 30px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 75%;
}

.column-text {
  width: 40%;
  text-align: left;
}

#project-image {
  width: 500px;
  height: 400px;
}

.sub-header {
  font-size: 24px;
}

.dashed {
  background: 
    linear-gradient(90deg, #ccb6b9 75%, transparent 25%),
    linear-gradient(0deg, #ccb6b9 75%, transparent 25%),
    linear-gradient(90deg, #ccb6b9 75%, transparent 25%),
    linear-gradient(0deg, #ccb6b9 75%, transparent 25%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 20px 5px, 5px 20px, 20px 5px, 5px 20px;
  padding: 10px;
  animation: dancingBorder 10s infinite linear;
}
	
@keyframes dancingBorder {
  0% {
    background-position: left top, right top, right bottom, left bottom;
  } 100% {
    background-position: right top, right bottom, left bottom, left top;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 700px) {
  /*.navbar-item {
   flex-direction: column;
  }*/
  .navbar {
  	flex-direction: column;
  	align-items: center;
  }
  .navbar-item {
  	margin-top: 20px;
  }
  .project-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column-text {
    width: 75%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .column {
    -ms-flex: 90%;
    flex: 90%;
    max-width: 90%;
  }
  #project-descripton {
  	max-width: 70%;
  }
  .project {
  	flex-direction: column;
  	max-width: 90%;
  }
  .navbar {
  	flex-direction: column;
  	align-items: center;
  }
  .navbar-item {
  	margin-top: 20px;
  	flex-direction: column;
  	align-items: center;
  }
  .item {
  	margin: 0px;
  }
  .about {
    flex-direction: column;
    width: 90%;
  }
  #about-image {
    margin-top: 20px;
    margin-left: 0px;
    width: 90%;
  }
}
